README.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.editorconfig

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

gradle/
gradlew*
libs/
logs/
application*.yml
application*.properties
logback-spring.xml
/ide-meta-model/src/test/resources/application.properties.template
/settings.xml
/app/dev.properties
/model/stub/
/gen/
/app/stub/
/app/dev.properties
dev.properties
/model/dev.properties
/app/src/test/java/ru/dynamika/lk/app/SpringAppTest.java
/app/src/main/resources/application.yaml
